
# file extensions (any file and dir)
*.bak
*~
*.o
*.dc
*.oc
*.os
*.tmp
*.obj
*.asm
*.junk
*.map
*.yy.c
*.log
*.exe
*.out
*.out.dbg
*.b
*.a
*.d
*.ccs
*.le.oa
*.be.oa
*.bin
*.dat
*.tab.c
*.tab.h
*.lst
*.map.pp
*.tgz
*.so
*.so.*
*.*.o.cmd
*ko
*ko.*
.tmp_versions
Module.symvers
*.mod.c
*.order

# file names (any dir)
cdefdep
.created
*.creator
*.user
*.config
*.files
*.includes



